.collapse {
    display: revert !important;
    opacity: 1 !important;
}

.sticky {
    position: relative !important;
}

section[class*="NavLayout_categoryWrapper_"] {
    position: relative !important;
    top: 0 !important;
}

div.styles-module_productDescriptionItem div {
    max-height: revert !important;
}

/* vim:set ts=4 sts=4 sw=4 et: */
