@-moz-document domain(i.redd.it) {

    reddit-header-small {
        position: absolute !important;
    }

    faceplate-tracker, zoomable-img {
        visibility: visible !important;
    }

    main.flex {
        display: revert !important;
        height: revert !important;
    }

}

/* vim:set ts=4 sts=4 sw=4 et: */
