.collapse-content {
    display: revert !important;
}

a[href$=".pdf"]::after {
    content: '\F1C1' !important;
    font-family: 'ForkAwesome' !important;
    font-size: revert !important;
}

/* vim:set ts=4 sts=4 sw=4 et: */
