section.listingsignupbar {
    display: none !important;
}

div.expando {
    display: block !important;
}

div.expando span.error {
    display: none;
}

div.gallery-tile {
    display: none !important;
}

div.gallery-preview {
    display: block !important;
}

ul.gallery-nav-bar {
    display: none !important;
}

faceplate-tracker, faceplate-tracker * {
    visibility: visible !important;
}

faceplate-tracker[noun="image"] main {
    height: unset !important;
}

reddit-header-large {
    position: absolute !important;
}

shreddit-app:not(:defined)::before {
    position: absolute !important;
}

reddit-cookie-banner {
    display: none !important;
}

.subscribe-button {
    display: none !important;
}

div.fixed.bottom-0 {
    display: none;
}

/* vim:set ts=4 sts=4 sw=4 et: */
