@-moz-document
    domain(bird.habedieeh.re),
    domain(bird.trom.tf),
    domain(canada.unofficialbird.com),
    domain(india.unofficialbird.com),
    domain(jote.lile.cl),
    domain(n.sneed.network),
    domain(nederland.unofficialbird.com),
    domain(nitter.1d4.us),
    domain(nitter.adminforge.de),
    domain(nitter.altgr.xyz),
    domain(nitter.at),
    domain(nitter.bird.froth.zone),
    domain(nitter.caioalonso.com),
    domain(nitter.catsarch.com),
    domain(nitter.cz),
    domain(nitter.d420.de),
    domain(nitter.dafriser.be),
    domain(nitter.datura.network),
    domain(nitter.esmailelbob.xyz),
    domain(nitter.eu.projectsegfau.lt),
    domain(nitter.fdn.fr),
    domain(nitter.fediflix.org),
    domain(nitter.freedit.eu),
    domain(nitter.hostux.net),
    domain(nitter.in.projectsegfau.lt),
    domain(nitter.inpt.fr),
    domain(nitter.io.lol),
    domain(nitter.it),
    domain(nitter.kavin.rocks),
    domain(nitter.kling.gg),
    domain(nitter.kylrth.com),
    domain(nitter.lacontrevoie.fr),
    domain(nitter.lunar.icu),
    domain(nitter.mint.lgbt),
    domain(nitter.moomoo.me),
    domain(nitter.nicfab.eu),
    domain(nitter.nl),
    domain(nitter.nohost.network),
    domain(nitter.oksocial.net),
    domain(nitter.one),
    domain(nitter.onthescent.xyz),
    domain(nitter.perennialte.ch),
    domain(nitter.platypush.tech),
    domain(nitter.poast.org),
    domain(nitter.privacy.com.de),
    domain(nitter.privacydev.net),
    domain(nitter.private.coffee),
    domain(nitter.projectsegfau.lt),
    domain(nitter.qwik.space),
    domain(nitter.rawbit.ninja),
    domain(nitter.salastil.com),
    domain(nitter.services.woodland.cafe),
    domain(nitter.sethforprivacy.com),
    domain(nitter.simpleprivacy.fr),
    domain(nitter.smnz.de),
    domain(nitter.snopyta.org),
    domain(nitter.soopy.moe),
    domain(nitter.tiekoetter.com),
    domain(nitter.tux.pizza),
    domain(nitter.twei.space),
    domain(nitter.unixfox.eu),
    domain(nitter.us.projectsegfau.lt),
    domain(nitter.weiler.rocks),
    domain(nt.vern.cc),
    domain(singapore.unofficialbird.com),
    domain(t.com.sb),
    domain(tw.artemislena.eu),
    domain(tweet.lambda.dance),
    domain(tweet.whateveritworks.org),
    domain(twitter.moe.ngo),
    domain(uk.unofficialbird.com),
    domain(unofficialbird.com),
    domain(nitter.net)
{

    nav {
        position: absolute !important;
    }

    .icon-search::before {
        content: '\F002' !important;
        font-family: 'ForkAwesome' !important;
    }

    .icon-rss-feed::before {
        content: '\F09E' !important;
        font-family: 'ForkAwesome' !important;
    }

    .icon-bird::before {
        content: '\F099' !important;
        font-family: 'ForkAwesome' !important;
    }

    .icon-info::before {
        content: '\F129' !important;
        font-family: 'ForkAwesome' !important;
    }

    .icon-cog::before {
        content: '\F013' !important;
        font-family: 'ForkAwesome' !important;
    }

    .icon-comment::before {
        content: '\F075' !important;
        font-family: 'ForkAwesome' !important;
    }

    .icon-retweet::before {
        content: '\F079';
        font-family: 'ForkAwesome' !important;
    }

    .icon-ok::before {
        content: '\F00C';
        font-family: 'ForkAwesome' !important;
    }

    .icon-pin::before {
        content: '\1F4CC';
        font-family: revert !important;
    }

}

/* vim:set ts=4 sts=4 sw=4 et: */
