nav {
    position: absolute !important;
}

.icon-search::before {
    content: '\F002' !important;
    font-family: 'ForkAwesome' !important;
}

.icon-rss-feed::before {
    content: '\F09E' !important;
    font-family: 'ForkAwesome' !important;
}

.icon-bird::before {
    content: '\F099' !important;
    font-family: 'ForkAwesome' !important;
}

.icon-info::before {
    content: '\F129' !important;
    font-family: 'ForkAwesome' !important;
}

.icon-cog::before {
    content: '\F013' !important;
    font-family: 'ForkAwesome' !important;
}

.icon-comment::before {
    content: '\F075' !important;
    font-family: 'ForkAwesome' !important;
}

.icon-retweet::before {
    content: '\F079';
    font-family: 'ForkAwesome' !important;
}

.icon-quote::before {
    content: '\F10E';
    font-family: 'ForkAwesome' !important;
}

.icon-heart::before {
    content: '\F004';
    font-family: 'ForkAwesome' !important;
}

.icon-views::before {
    content: '\F06E';
    font-family: 'ForkAwesome' !important;
}

.icon-circle::before {
    content: '\2B24';
    font-family: revert !important;
}

.icon-ok::before {
    content: '\F00C';
    font-family: 'ForkAwesome' !important;
}

.icon-pin::before {
    content: '\1F4CC';
    font-family: revert !important;
}

.icon-down::before {
    content: '\F107';
    font-family: 'ForkAwesome' !important;
}

.icon-play::before {
    content: '\F04B';
    font-family: 'ForkAwesome' !important;
}

.icon-location::before {
    content: '\F276';
    font-family: 'ForkAwesome' !important;

}

.icon-link::before {
    content: '\F0C1';
    font-family: 'ForkAwesome' !important;

}

.icon-calendar::before {
    content: '\F073';
    font-family: 'ForkAwesome' !important;

}

.icon-picture::before {
    content: '\F03E';
    font-family: 'ForkAwesome' !important;

}

div.date-range .icon-calendar::before {
	display: none;
}

.checkbox-container .checkbox::after {
    content: '\2714';
    font-family: revert !important;
}

/* vim:set ts=4 sts=4 sw=4 et: */
