.bi-play::before {
    content: '\F04B';
    font-family: 'ForkAwesome' !important;
}

.bi-stop::before {
    content: '\F04D';
    font-family: 'ForkAwesome' !important;
}

.bi-chat-text::before {
    content: '\F044';
    font-family: 'ForkAwesome' !important;
}

.bi-compass::before {
    content: '\F14E';
    font-family: 'ForkAwesome' !important;
}

.bi-question::before {
    content: '\F128';
    font-family: 'ForkAwesome' !important;
}

.bi-crosshair::before {
    content: '\F05B';
    font-family: 'ForkAwesome' !important;
}

.bi-gear::before {
    content: '\F013';
    font-family: 'ForkAwesome' !important;
}

.bi-car-front-fill::before {
    content: '\F1B9';
    font-family: 'ForkAwesome' !important;
}

.bi-bicycle::before {
    content: '\F206';
    font-family: 'ForkAwesome' !important;
}

.bi-person-walking::before {
    content: '\F183';
    font-family: 'ForkAwesome' !important;
}

/* vim:set ts=4 sts=4 sw=4 et: */
