.bi-cursor::before {
    content: '\F124';
    font-family: 'ForkAwesome' !important;
}

.bi-flag::before {
    content: '\F024';
    font-family: 'ForkAwesome' !important;

}

.bi-chat-square-text::before {
    content: '\F044';
    font-family: 'ForkAwesome' !important;
}

.bi-compass::before {
    content: '\F14E';
    font-family: 'ForkAwesome' !important;
}

.bi-question-lg::before {
    content: '\F128';
    font-family: 'ForkAwesome' !important;
}

.bi-crosshair::before {
    content: '\F05B';
    font-family: 'ForkAwesome' !important;
}

.bi-gear::before {
    content: '\F013';
    font-family: 'ForkAwesome' !important;
}

.bi-car-front-fill::before {
    content: '\F1B9';
    font-family: 'ForkAwesome' !important;
}

.bi-bicycle::before {
    content: '\F206';
    font-family: 'ForkAwesome' !important;
}

.bi-person-walking::before {
    content: '\F183';
    font-family: 'ForkAwesome' !important;
}

.bi-arrow-down-up::before {
    content: "\F175\F176";
    font-family: 'ForkAwesome' !important;
}

.bi-plus-lg::before {
    content: "\F067";
    font-family: 'ForkAwesome' !important;
}

.bi-dash-lg::before {
    content: "\F068";
    font-family: 'ForkAwesome' !important;
}

.bi-cursor-fill::before {
    content: '\F124';
    font-family: 'ForkAwesome' !important;
}

.bi-stack::before {
    content: '\F0C9';
    font-family: 'ForkAwesome' !important;
}

.bi-info-lg::before {
    content: '\F129';
    font-family: 'ForkAwesome' !important;
}

.bi-share-fill::before {
    content: '\F064';
    font-family: 'ForkAwesome' !important;
}

.bi-chat-square-text-fill::before {
    content: '\F044';
    font-family: 'ForkAwesome' !important;
}

/* vim:set ts=4 sts=4 sw=4 et: */
