@font-face {
    font-family: 'octicons';
    src: local('Octicons');
}

@font-face {
    font-family: 'FontAwesome';
    src: local('FontAwesome');
}

@font-face {
    font-family: 'ForkAwesome';
    src: local('ForkAwesome');
}

/* vim:set ts=4 sts=4 sw=4 et: */
