.s-topbar {
    position: absolute !important;
    margin-top: 0;
}

.s-hero, .old-hero, .js-dismissable-hero {
    display: none !important;
}

.js-consent-banner {
    display: none !important;
}

#noscript-warning {
    display: none !important;
}

#create-team-tooltip {
    display: none !important;
}

/* vim:set ts=4 sts=4 sw=4 et: */
