@-moz-document domain(wikipedia.org) {

    .mw-parser-output .cs1-maint {
        display: inline;
    }

    #mw-previewheader + p {
        color: black !important;
    }

    #mw-previewheader + p strong {
        font-weight: normal;
    }

}

/* vim:set ts=4 sts=4 sw=4 et: */
