@-moz-document domain(github.com) {

    .profile-rollup-content {
        display: inherit !important;
    }

    .signup-prompt, .signup-prompt-bg {
        display: none !important;
    }

    body.logged-out div[itemtype="http://schema.org/Person"] summary.text-small.muted-link {
        display: none !important;
    }

    a.HeaderMenu-link[href^="/join?"] {
        display: none !important;
    }

    button.js-dismiss {
        display: initial !important;
    }

    .position-sticky {
        position: static !important;
    }

    .email-hidden-toggle {
        display: none !important;
    }

    .email-hidden-reply {
        display: initial !important;
    }

}

@-moz-document domain(blog.github.com) {

    div.site-header {
        position: relative !important;
    }

}

/* vim:set ts=4 sts=4 sw=4 et: */
