@-moz-document domain(bugs.debian.org) {

    body, html, h1, h2, h3 {
        background-color: #fff;
    }

    #uselessmesages, label[for="uselessmessages"] {
        display: none !important;
    }

}

/* vim:set ts=4 sts=4 sw=4 et: */
