name: CI
on:
- push
- pull_request
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: set up APT
      run: |
        printf 'Apt::Install-Recommends "false";\n' | sudo tee -a /etc/apt/apt.conf
        sudo apt-get update
    - name: install deps
      run:
        sudo apt-get install libio-socket-ssl-perl
    - name: check Nitter instances
      run: |
        .private/net-update-nitter
        git add .
        git diff -U0 --exit-code HEAD -S nitter.net
    - name: check Invidious instances
      run: |
        .private/net-update-invidious
        git add .
        git diff -U0 --exit-code HEAD -S invidious.example

# vim:ts=2 sts=2 sw=2 et
