name: CI
permissions: {}
on:
- push
- pull_request
jobs:

  net-update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type:
        - nitter
        - invidious
    steps:
    - uses: actions/checkout@v4
    - name: set up APT
      run: |
        printf 'Apt::Install-Recommends "false";\n' | sudo tee -a /etc/apt/apt.conf
        sudo apt-get update
    - name: install deps
      run:
        sudo apt-get install libio-socket-ssl-perl
    - name: check ${{matrix.type}} instances
      run: |
        .private/net-update-${{matrix.type}}
        git add .
        git diff -U0 --exit-code HEAD -S ${{matrix.type}}

# vim:ts=2 sts=2 sw=2 et
